@import url('https://fonts.googleapis.com/css2?family=Rouge+Script&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


label,

p,

a {
    font-family: "Plus Jakarta Sans", sans-serif;
}
h1, h2, h3 {
    font-family: "Playfair Display", serif;
}
.container {
    @apply max-w-[1200px] mx-auto p-4;
}
.logo {
    font-family: "Rouge Script", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 1.8rem;
}
@media print {
    body {
        font-size: 12pt;
    }
    .contact-item {
        border: none;
        padding: 0;
        margin-bottom: 0;
    }
    .no-print {
        display: none;
    }
    li {
        border: none;
    }
    svg,
    h1 {
        display: none;
    }
}
