@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

label,
h1,
p,
h2,
a {
    font-family: "Plus Jakarta Sans", sans-serif;
}

@media print {
    body {
        font-size: 12pt;
    }
    .contact-item {
        border: none;
        padding: 0;
        margin-bottom: 0;
    }
    .no-print {
        display: none;
    }
    li {
        border: none;
    }
    svg,
    h1 {
        display: none;
    }
}
